@import url('https://fonts.googleapis.com/css?family=Tillana');
@import url('https://fonts.googleapis.com/css?family=PT Serif');

h1 {
    font-family: 'Tillana';
}

body {
    font-family: 'PT Serif';
    background-color: rgb(110, 177, 228);
    color: rgb(106, 67, 37);
}

a {
    text-decoration: none;
    color: rgb(106, 67, 37);
}

a:hover {
    text-decoration: underline;
}

li {
    padding: 0.5%;
}

img {
    width: 75%;
    height: 75%;
    padding: 5px;
}

p {
    padding: 5px;
}

.sunset {
    float: right;
    width: 50%;
}

.home {
    float: left;
    width: 50%;
}