.map-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 62.5%; /* The height of the map image divided by its width (800/1280) */
}

.map-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}