@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

body {
    background-image: url("gandalf.jpg");
    background-size: cover;
    font-family: "Cormorant";
    color: white;
}

input {
    border: 3px solid darkolivegreen;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

input:focus {
    outline: none;
}

textarea {
    border: 3px solid darkolivegreen;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Cormorant";
    color: white;
    font-size: 15px;
}